{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <form id="signUp-form" action="/auth/signUp" method="post">
      <div class="input-group">
        <label for="signUp-email">이메일</label>
        <input id="signUp-email" type="email" name="email"></div>
      <div class="input-group">
        <label for="signUp-nick">닉네임</label>
        <input id="signUp-nick" type="text" name="nick"></div>
      <div class="input-group">
        <label for="signUp-password">비밀번호</label>
        <input id="signUp-password" type="password" name="password">
      </div>
      <button id="signUp-btn" type="submit" class="btn">회원가입</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}
